**Mounting Google Drive to get the original dataset**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

**Importing required libs**

In [ ]:
import csv
import pandas as pd

**Address to Dataset**

In [ ]:
InputDataFIleAddress = '/content/drive/MyDrive/Colab Notebooks/Data management Project/Data Management Project - Datafiles/Part 00 - Original dataset/515K-Hotel-Reviews-Data-in-Europe'
OutputDataFIleAddress = '/content/drive/MyDrive/Colab Notebooks/Data management Project/Data Management Project - Datafiles/Part 01.1 input - Dataset after removing header fields /515K-Hotel-Reviews-Data-in-Europe processed all.csv'

**Creating the initial dataframe to work with**

In [ ]:
# Open the file using the csv module
with open(InputDataFIleAddress, newline='', encoding='utf-8') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')

    # Initialize empty dictionary to store the each column
    Dictionary_of_arrays = {
        "Hotel_Address_values": [],
        "Additional_Number_of_Scoring_values": [],
        "Review_Date_values": [],
        "Average_Score_values": [],
        "Hotel_Name_values": [],
        "Reviewer_Nationality_values": [],
        "Negative_Review": [],
        "Review_Total_Negative_Word_Counts": [],
        "Total_Number_of_Reviews": [],
        "Positive_Review": [],
        "Review_Total_Positive_Word_Counts": [],
        "Total_Number_of_Reviews_Reviewer_Has_Given": [],
        "Reviewer_Score": [],
        "tag_column": [],
        "days_since_review": [],
        "latitude": [],
        "longitude": []
    }

    # Loop through each row of the file and append each value to the corresponding list
    for row in csvreader:
        # Empty array to add tags
        tags_array=[]

        Dictionary_of_arrays["Hotel_Address_values"].append(row[0])
        Dictionary_of_arrays["Additional_Number_of_Scoring_values"].append(row[1])
        Dictionary_of_arrays["Review_Date_values"].append(row[2])
        Dictionary_of_arrays["Average_Score_values"].append(row[3])
        Dictionary_of_arrays["Hotel_Name_values"].append(row[4])
        Dictionary_of_arrays["Reviewer_Nationality_values"].append(row[5])
        Dictionary_of_arrays["Negative_Review"].append(row[6])
        Dictionary_of_arrays["Review_Total_Negative_Word_Counts"].append(row[7])
        Dictionary_of_arrays["Total_Number_of_Reviews"].append(row[8])
        Dictionary_of_arrays["Positive_Review"].append(row[9])
        Dictionary_of_arrays["Review_Total_Positive_Word_Counts"].append(row[10])
        Dictionary_of_arrays["Total_Number_of_Reviews_Reviewer_Has_Given"].append(row[11])
        Dictionary_of_arrays["Reviewer_Score"].append(row[12])
        Dictionary_of_arrays["days_since_review"].append(row[-3])
        Dictionary_of_arrays["latitude"].append(row[-2])
        Dictionary_of_arrays["longitude"].append(row[-1])
        # Loop through the "tags" values and apppend each into a single array
        for j in range(12,len(row)-3):
          tags_array.append(row[j])
        Dictionary_of_arrays["tag_column"].append(tags_array)

# Convert the list into a pandas DataFrame
df = pd.DataFrame({
    'Hotel_Address_values': Dictionary_of_arrays["Hotel_Address_values"],
    'Additional_Number_of_Scoring_values': Dictionary_of_arrays["Additional_Number_of_Scoring_values"],
    'Review_Date_values': Dictionary_of_arrays["Review_Date_values"],
    'Average_Score_values': Dictionary_of_arrays["Average_Score_values"],
    'Hotel_Name_values': Dictionary_of_arrays["Hotel_Name_values"],
    'Reviewer_Nationality_values': Dictionary_of_arrays["Reviewer_Nationality_values"],
    'Negative_Review': Dictionary_of_arrays["Negative_Review"],
    'Review_Total_Negative_Word_Counts': Dictionary_of_arrays["Review_Total_Negative_Word_Counts"],
    'Total_Number_of_Reviews': Dictionary_of_arrays["Total_Number_of_Reviews"],
    'Positive_Review': Dictionary_of_arrays["Positive_Review"],
    'Review_Total_Positive_Word_Counts': Dictionary_of_arrays["Review_Total_Positive_Word_Counts"],
    'Total_Number_of_Reviews_Reviewer_Has_Given': Dictionary_of_arrays["Total_Number_of_Reviews_Reviewer_Has_Given"],
    'Reviewer_Score': Dictionary_of_arrays["Reviewer_Score"],
    'tag_column': Dictionary_of_arrays["tag_column"],
    'days_since_review': Dictionary_of_arrays["days_since_review"],
    'latitude': Dictionary_of_arrays["latitude"],
    'longitude': Dictionary_of_arrays["longitude"]
})

**Size of the loaded Dataset**

**First few lines of the resultant dataframe**

In [ ]:
# Printing the dataframe in it's initial form (here 2 of them are being printed)
display(df.iloc[2:5])

,Hotel_Address_values,Additional_Number_of_Scoring_values,Review_Date_values,Average_Score_values,Hotel_Name_values,Reviewer_Nationality_values,Negative_Review,Review_Total_Negative_Word_Counts,Total_Number_of_Reviews,Positive_Review,Review_Total_Positive_Word_Counts,Total_Number_of_Reviews_Reviewer_Has_Given,Reviewer_Score,tag_column,days_since_review,latitude,longitude
2,' s Gravesandestraat 55 Oost 1092 AA Amsterdam...,194,7/31/2017,7.7,'Hotel Arena',' Australia ',' Rooms are nice but for elderly a bit difficu...,42,1403,' Location was good and staff were ok It is cu...,21,9,7.1,"[7.1, '[\' Leisure trip \', \' Family with yo...",'3 days',52.36057589999999,4.915968299999999
3,' s Gravesandestraat 55 Oost 1092 AA Amsterdam...,194,7/31/2017,7.7,'Hotel Arena',' United Kingdom ',' My room was dirty and I was afraid to walk b...,210,1403,' Great location in nice surroundings the bar ...,26,1,3.8,"[3.8, '[\' Leisure trip \', \' Solo traveler ...",'3 days',52.36057589999999,4.915968299999999
4,' s Gravesandestraat 55 Oost 1092 AA Amsterdam...,194,7/24/2017,7.7,'Hotel Arena',' New Zealand ',' You When I booked with your company on line ...,140,1403,' Amazing location and building Romantic setti...,8,3,6.7,"[6.7, '[\' Leisure trip \', \' Couple \', \'...",'10 days',52.36057589999999,4.915968299999999

**Saving the dataframe as a CSV to use in the next step**

In [ ]:
# Define the file path in Google Drive
file_path = OutputDataFIleAddress #As above

# Save the DataFrame to a CSV file
df.to_csv(file_path, index=False)

# Confirm the file was saved
print(f"File saved to {file_path}")

File saved to /content/drive/MyDrive/Colab Notebooks/Data management Project/Data Management Project - Datafiles/Part 02 input - Dataset after Converting into CSV with correct structure/Part 02 input.csv